body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, button, input, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: 0;
}

img, object, embed {
  vertical-align: bottom;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

q:before, q:after {
  content: "";
}

a * {
  cursor: pointer;
}

input,
textarea {
  outline: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}

* {
  outline: none;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

i {
  backface-visibility: hidden;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body,
html {
  height: 100%;
}

body {
  font: 400 16px/1.2 "Inter", sans-serif;
  background-color: #000;
}

.container {
  max-width: 620px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 0 auto;
  margin-bottom: 25px;
  padding-top: 75px;
}
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.search form {
  -webkit-box-flex: 0;
  -ms-flex: 1 1;
  flex: 1 1;
  position: relative;
  border-radius: 20px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.08);
}

.search .search-text input {
  border: 0;
  background: none;
  color: #ffffff;
  font-size: 13px;
  width: 600px;
  height: 46px;
  border: 1px solid #2c2c2e;
  border-radius: 30px;
  padding: 12px 16px;
  width: 100%;
  height: 46px;
}

.search-text input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.03em;
  color: #a0a0a0;
}
.search-text input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.03em;
  color: #a0a0a0;
}
.search-text input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.03em;
  color: #a0a0a0;
}
.search-text input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.03em;
  color: #a0a0a0;
}
.search-text input:focus::-webkit-input-placeholder {
  color: transparent;
}
.search-text input:focus:-ms-input-placeholder {
  color: transparent;
}
.search-text input:focus::-ms-input-placeholder {
  color: transparent;
}
.search-text input:focus::placeholder {
  color: transparent;
}
.search .search-text input:focus {
  outline: none;
}
.search .search-button {
  position: absolute;
  top: 0;
  right: 0;
  background: #2c2c2e url("../images/search.svg") center no-repeat;
  text-indent: -1000px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  border: 1px solid #2c2c2e;
  border-radius: 0 30px 30px 0;
  padding: 12px;
  width: 80px;
  height: 45px;
}
.search .search-button:hover {
  opacity: 0.8;
}

main {
  flex: 1 0 auto;
}

.card-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 13px;
  padding: 16px;
  background: #2c2c2e;
}
.card .title {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 20px;
}
.card-description p {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.03em;
  color: #a0a0a0;
  margin-bottom: 20px;
}
.social-holder {
  width: 100%;
  margin-bottom: 25px;
}
.social-holder a {
  display: flex;
  align-items: center;
  background: #2c2c2e;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  border-radius: 13px;
  padding: 16px;
  width: 100%;
  height: 92px;
}
.social-holder a:last-child {
  margin-bottom: 0;
}
.social-holder a .link-img {
  margin-right: 16px;
}
.social-holder a .link-img img {
  width: 100%;
}
.social-holder a .link-title {
  flex-grow: 1;
}
.social-link_wrapper {
 display: flex;
 flex-direction: column;
}

.social-holder .link-title {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.41176;
  letter-spacing: 0.02em;
  color: #fff;
}

.social-holder .link-descr {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.03em;
  color: #fff;
}
.domain-list {
  margin-bottom: 50px;
}

.domain-list .title {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 25px;
}

.resp-tab {
  font-weight: normal;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -khtml-border-radius: 13px;
  overflow: hidden;
}
.resp-tab td {
  word-break: break-all;
  border: 1px solid #212122;
  padding: 12px 16px;
  width: 179px;
  height: 40px;
  background: #2c2c2e;
}

.resp-tab th, .resp-tab td {
  padding: 10px 20px;
  font-size: 13px;
  border: none;
  font-family: Verdana, sans-serif;   
  vertical-align: top;
  border: 1px solid #212122;
  color: #fff;
}
.resp-tab th {
  border: 1px solid #2c2c2e;
  padding: 12px 16px;
  width: 179px;
  height: 40px;
  background: #212122;
  font-family: "SF Pro Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.03em;
}
.resp-tab tr {
  background: #edf7ff;
  border-radius: 13px 0 0 0;
}
.resp-tab td span {
  background: #337AB7;
  color: #FFF;
  display: none;
  font-size: 11px;
  font-weight: bold;
  font-family: Verdana, sans-serif;   
  text-transform: uppercase;       
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;   
}
